<%= form_for @trainee_exam do |f| %>
  <div class="container">
    <% @exam.questions.each.with_index(Settings.one) do |question, idx| %>
      <hr>
      <div class="container question-content">
        <%= idx %>.
        <%= question.content %>
      </div>
      <% if question.single_choice? %>
        <% question.answers.each do |answer| %>
          <% @detail_exam_answer = @detail_exams %>
          <div class="radiocontainer answer-content">
            <%= f.radio_button :detail_exams.detail_exam_answer.checked, answer.content %>
            <%= label_tag "#{idx}_#{answer.content}", answer.content %>
          </div>
        <% end %>
      <% else %>
        <% question.answers.each do |answer| %>
          <div class="radiocontainer answer-content">
            <%= f.check_box :detail_exams.detail_exam_answer.checked %>
            <%= label_tag "#{idx}_#{answer.content}", answer.content %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
