<tr>
  <td>
    <%= trainee_exam.exam_subject_name %>
  </td>
  <td>
    <% if supervisor_user? %>
      <%= link_to trainee_exam.exam_name,
        edit_trainee_exam_path(trainee_exam) %>
    <% else %>
      <%= link_to trainee_exam.exam_name,
        trainee_exam_path(trainee_exam) %>
    <% end %>
  </td>
  <td>
    <%= trainee_exam.user_name %>
  </td>
  <td>
    <%= l trainee_exam.created_at, format: :date_time %>
  </td>
  <td id="score-<%=trainee_exam.id%>">
    <%= trainee_exam.total_score %>
  </td>
  <td id="check-<%=trainee_exam.id%>">
    <% if trainee_exam.is_passed.nil? %>
     <%= t ".not_marked" %>
    <% elsif trainee_exam.is_passed? %>
     <%= t ".passed" %>
    <% else %>
     <%= t ".not_passed" %>
    <% end %>
  </td>
  <td id="mark-<%=trainee_exam.id%>">
    <% if trainee_exam.is_passed.nil? %>
      <%= link_to t(".mark"), trainee_exam_path(trainee_exam),
        class: "btn btn-primary", method: :patch, remote: true %>
    <% else %>
      <%= t ".marked" %>
    <% end %>
  </td>
</tr>
