$("#score-<%=@trainee_exam.id%>").html(
  '<td id="score-<%=@trainee_exam.id%>">'
  + '<%= @trainee_exam.total_score %>'
  + '</td>');
$("#check-<%=@trainee_exam.id%>").html(
  '<td id="check-<%=@trainee_exam.id%>">'
  + '<% if @trainee_exam.is_passed == nil %>'
  + '<%= t ".not_marked" %>'
  + '<% elsif @trainee_exam.is_passed? %>'
  + '<%= t ".passed" %>'
  + '<% else %>'
  + '<%= t ".not_passed" %>'
  + '<% end %>'
  + '</td>');
$("#mark-<%=@trainee_exam.id%>").html(
  '<td id="mark-<%=@trainee_exam.id%>">'
  + '<%= t ".marked" %>'
  + '</td>');
