<%= form_for @exam do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :subject_id, t(".subject") %>
    <%= f.collection_select :subject_id, subject_collection, id, name,
      {}, {class: "form-control select-dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :name, t(".exam") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :easy_question, t(".no_easy_question") %>
    <%= f.text_field :easy_question, class: "form-control num-question",
      id: "easy-question", value: Settings.questions %>
  </div>

  <div class="form-group">
    <%= f.label :normal_question, t(".no_normal_question") %>
    <%= f.text_field :normal_question, class: "form-control num-question",
      id: "normal-question", value: Settings.questions %>
  </div>

  <div class="form-group">
    <%= f.label :hard_question, t(".no_hard_question") %>
    <%= f.text_field :hard_question, class: "form-control num-question",
      id: "hard-question", value: Settings.questions %>
  </div>

  <div class="form-group">
    <%= f.label :number_question, t(".no_question") %>
    <%= f.text_field :number_question, class: "form-control num-question",
      id: "total-questions", readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :pass_score, t(".pass_score") %>
    <%= f.text_field :pass_score, class: "form-control",
      value: "30" %>
  </div>

  <div class="form-group">
    <%= f.label :total_score, t(".total_score") %>
    <%= f.text_field :total_score, class: "form-control",
      id: "total-score", readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :time_limit, t(".time_limit") %><br>
    <%= f.label :hours, t(".hours") %>
    <%= f.text_field :hours, class: "form-control", value: "1"%>
    <%= f.label :minutes, t(".minutes") %>
    <%= f.text_field :minutes, class: "form-control", value: "0"%>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
