<% provide :title, @exam.name %>
<div class="container">
  <div class="row">
    <div class="">
      <h1>
        <%= @exam.name %>
      </h1>
      <div class="quizcontainer">
        <% @exam.questions.each.with_index(Settings.one) do |question, i| %>
          <hr>
          <div class="container question-content qtext">
            <%= i %>.
            <%= question.content %>
          </div>
          <% question.answers.each do |answer| %>
            <% if answer.correct == true %>
              <div class="answer-content correct-answer">
                <%= answer.content %>
                <span class="answercomment">
                  &nbsp;&nbsp;<%= t ".correct_answer" %>&nbsp;&nbsp;
                </span>
              </div>
            <% else %>  
              <div class="answer-content">
                <%= answer.content %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
 