<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("exam_online"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".subjects"), subject_index_path %></li>
        <% if signed_in? %>
          <% if current_supervisor? %>
            <li><%= link_to t(".questions"), questions_path %></li>
            <li><%= link_to t(".mark_exams"), mark_exams_path %></li>     
            <li><%= link_to t(".users"), users_path %></li>    
          <% else %>
            <li><%= link_to t(".history"), current_user %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
                <li><%= link_to t(".edit"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".signout"), signout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".signin"), signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
