<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to t("exam_online"), root_path, id: "logo", class: "navbar-brand" %>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="nav navbar-nav justify-content-end">
        <li class="nav-item"><%= link_to t(".home"), root_path, class: "nav-item",
          class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t(".subjects"), subject_index_path,
          class: "nav-link" %></li>
        <% if user_signed_in? %>
          <% if current_user.supervisor? %>
            <li class="nav-item"><%= link_to t(".questions"), questions_path,
              class: "nav-link" %></li>
            <li class="nav-item"><%= link_to t(".mark_exams"), mark_exams_path,
              class: "nav-link" %></li>
            <li class="nav-item"><%= link_to t(".users"), users_path,
              class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to t(".history"), current_user,
              class: "nav-link" %></li>
          <% end %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>
            </a>
            <div class="dropdown-menu">
              <%= link_to t(".profile"), current_user, class: "dropdown-item" %>
              <%= link_to t(".edit"), edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to t(".signout"), destroy_user_session_path, method: :delete,
                class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to t(".signin"), new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
